Package: bhp
Version: 1.0.3
Architecture: all
Maintainer: John Hedges <john@drystone.co.uk>
Installed-Size: 113
Depends: python-ow, xsltproc, owserver, python-serial, xmlstarlet, munin-node
Section: misc
Priority: extra
Description: bhp heating program
 stuff and nonsense
